<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/harryduran/" target="_blank">LinkedIn</a></li>
				<li><a href="http://fullcast.co" target="_blank">FullCast</a></li>
				<li><a href="https://twitter.com/HarryDuranFC" target="_blank">Twitter</a></li>
				<li><a href="https://www.instagram.com/harryduranfc/" target="_blank">Instagram</a></li>
	        		<li><a href="http://podcastjunkies.com" target="_blank">Podcast Junkies</a></li>
				</ul>
			</footer>
		</body>
	</html>
